		<footer class="footer">
			<p class="has-text-left">
				<%= langue.projet.nomProjet %><%= langue.projet.séparateur %><%= langue.projet.produitPar %>
			</p>
			<p class="has-text-right">
				<%= langue.projet.codéEn %>
			</p>
		</footer>
	</body>
</html>