<%- include("tête", {
	"titre": titre,
}) -%>
<%- include("en‐tête", {
	"estConnecté": false,
}) -%>
		<main>
			<section class="container">
				<h1 class="title is-1">
					Bienvenue !
				</h1>
				<p class="text">
					Les pages du site :
					<br />
					<ul>
						<li>
							<a href="/connexion">/connexion</a>
						</li>
						<li>
							<a href="/inscription">/inscription</a>
							<ul>
								<li>
									<a href="/inscription/membre">/inscription/membre</a>
								</li>
								<li>
									<a href="/inscription/organisation">/inscription/organisation</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/annuaire">/annuaire</a>
							<ul>
								<li>
									<a href="/annuaire/membres">/annuaire/membres</a>
								</li>
								<li>
									<a href="/annuaire/organisations">/annuaire/organisations</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/membre/1">/membre/1</a>
						</li>
						<li>
							<a href="/organisation/1">/organisation/1</a>
						</li>
					</ul>
				</p>
			</section>
		</main>
<%- include("pied", {
	"langue": langue
}) %>