<%- include("objetForEach") %>
<%- include("tête", {
	"titre": "Inscription · Les anciens d’abord",
}) -%>
<%- include("en‐tête", {
	"estConnecté": false,
}) -%>
		<main>
			<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
				<ul>
					<li>
						<a href="/">
							Accueil
						</a>
					</li>
					<li class="is-active">
						<a aria-current="page">
							Inscription
						</a>
					</li>
				</ul>
			</nav>

			<section class="container">
				<div class="box">
					<a href="/inscription/membre">
						<span class="icon is-large">
							<i class="fas fa-user fa-2x"></i>
						</span>
						<span>
							Inscrire un membre
						</span>
					</a>
				</div>
				<div class="box">
					<a href="/inscription/organisation">
						<span class="icon is-large">
							<i class="fas fa-building fa-2x"></i>
						</span>
						<span>
							Inscrire une organisation
						</span>
					</a>
				</div>
			</section>
		</main>
<%- include("pied") %>