<%- include("objetForEach") %>
<%- include("tête", {
	"titre": "Inscription · Les anciens d’abord",
}) -%>
<%- include("en‐tête", {
	"estConnecté": false,
}) -%>
		<main>
			<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
				<ul>
					<li>
						<a href="/">
							Accueil
						</a>
					</li>
					<li>
						<a href="/inscription">
							Inscription
						</a>
					</li>
					<li class="is-active">
						<a aria-current="page">
							Organisation
						</a>
					</li>
				</ul>
			</nav>

			<section class="container">
				<h1 class="title is-3 has-text-centered">
					Un nouveau !
				</h1>
				<form action="/connexion" method="POST">
					<div class="field">
						<label class="label" for="raisonSociale">
							Raison sociale
						</label>
						<div class="control">
							<input class="input" type="text" required="required" name="raisonSociale" id="raisonSociale" placeholder="Raison sociale…">
						</div>
					</div>

					<fieldset class="fieldset">
						<legend>
							Siège social
						</legend>

						<div class="field">
							<label class="label" for="ville">
								Ville
							</label>
							<div class="control has-icons-left">
								<span class="icon is-small is-left">
									<i class="fas fa-city"></i>
								</span>
								<input class="input" type="text" required="required" name="ville" id="ville" placeholder="Ville…">
							</div>
						</div>

						<div class="field">
							<label class="label" for="codePostal">
								Code postal
							</label>
							<div class="control has-icons-left">
								<span class="icon is-small is-left">
									<i class="fas fa-map-marker-alt"></i>
								</span>
								<input class="input" type="text" required="required" name="codePostal" id="codePostal" placeholder="Code postal…">
							</div>
						</div>

						<div class="field">
							<label class="label" for="pays">
								Pays
							</label>
							<div class="control has-icons-left">
								<span class="icon is-small is-left">
									<i class="fas fa-flag"></i>
								</span>
								<div class="select">
									<select required="required" name="pays" id="pays">
										<option value="" selected="selected">Choisissez votre pays</option>
										<option value="France">France</option>
										<optgroup label="Europe">
											<option value="Albanie">Albanie</option>
											<option value="Allemagne">Allemagne</option>
											<option value="Andorre">Andorre</option>
											<option value="Autriche">Autriche</option>
											<option value="Belgique">Belgique</option>
											<option value="Biélorussie">Biélorussie</option>
											<option value="Bosnie‐Herzégovine">Bosnie‐Herzégovine</option>
											<option value="Bulgarie">Bulgarie</option>
											<option value="Croatie">Croatie</option>
											<option value="Danemark">Danemark</option>
											<option value="Espagne">Espagne</option>
											<option value="Estonie">Estonie</option>
											<option value="France">France</option>
											<option value="Hongrie">Hongrie</option>
											<option value="Grèce">Grèce</option>
											<option value="Irlande">Irlande</option>
											<option value="Islande">Islande</option>
											<option value="Italie">Italie</option>
											<option value="Lettonie">Lettonie</option>
											<option value="Liechstenstein">Liechstenstein</option>
											<option value="Lituanie">Lituanie</option>
											<option value="Luxembourg">Luxembourg</option>
											<option value="Macédoine du Nord">Macédoine du Nord</option>
											<option value="Malte">Malte</option>
											<option value="Moldavie">Moldavie</option>
											<option value="Monténégro">Monténégro</option>
											<option value="Monaco">Monaco</option>
											<option value="Norvège">Norvège</option>
											<option value="Pays‐Bas">Pays‐Bas</option>
											<option value="Pologne">Pologne</option>
											<option value="Portgual">Portgual</option>
											<option value="Roumanie">Roumanie</option>
											<option value="Royaume‐Uni">Royaume‐Uni</option>
											<option value="Saint‐Marin">Saint‐Marin</option>
											<option value="Serbie">Serbie</option>
											<option value="Slovaquie">Slovaquie</option>
											<option value="Slovénie">Slovénie</option>
											<option value="Suède">Suède</option>
											<option value="Suisse">Suisse</option>
											<option value="Tchéquie">Tchéquie</option>
											<option value="Ukraine">Ukraine</option>
											<option value="Vatican (Saint‐Siège)">Vatican (Saint‐Siège)</option>
										</optgroup>
										<optgroup label="Amérique">
											<option value="Antigua‐et‐Barbuda">Antigua‐et‐Barbuda</option>
											<option value="Argentine">Argentine</option>
											<option value="Bahamas (les)">Bahamas (les)</option>
											<option value="Barbade (la)">Barbade (la)</option>
											<option value="Bélize">Bélize</option>
											<option value="Bolivie">Bolivie</option>
											<option value="Brésil">Brésil</option>
											<option value="Canada">Canada</option>
											<option value="Chili">Chili</option>
											<option value="Colombie">Colombie</option>
											<option value="Costa Rica">Costa Rica</option>
											<option value="Cuba">Cuba</option>
											<option value="Dominicaine (République)">Dominicaine (République)</option>
											<option value="Dominique">Dominique</option>
											<option value="Équateur">Équateur</option>
											<option value="États‐Unis d’Amérique (les)">États‐Unis d’Amérique (les)</option>
											<option value="Grenade">Grenade</option>
											<option value="Guatemala">Guatemala</option>
											<option value="Guyana">Guyana</option>
											<option value="Haïti">Haïti</option>
											<option value="Honduras">Honduras</option>
											<option value="Jamaïque">Jamaïque</option>
											<option value="Mexique">Mexique</option>
											<option value="Nicaragua">Nicaragua</option>
											<option value="Pérou">Pérou</option>
											<option value="Panama">Panama</option>
											<option value="Paraguay">Paraguay</option>
											<option value="Saint‐Kitts‐et‐Nevis">Saint‐Kitts‐et‐Nevis</option>
											<option value="Saint‐Lucie">Saint‐Lucie</option>
											<option value="Saint‐Vicent‐et‐les‐Grenadines">Saint‐Vicent‐et‐les‐Grenadines</option>
											<option value="Salvador">Salvador</option>
											<option value="Suriname">Suriname</option>
											<option value="Trinité‐et‐Tobago">Trinité‐et‐Tobago</option>
											<option value="Uruguay">Uruguay</option>
											<option value="Venezuela">Venezuela</option>
										</optgroup>
										<optgroup label="Moyen‐Orient">
											<option value="Arabie saoudite">Arabie saoudite</option>
											<option value="Bahreïn">Bahreïn</option>
											<option value="Chypre">Chypre</option>
											<option value="Égypte">Égypte</option>
											<option value="Émirats arabes unis (les)">Émirats arabes unis (les)</option>
											<option value="Irak">Irak</option>
											<option value="Iran">Iran</option>
											<option value="Israël">Israël</option>
											<option value="Jordanie">Jordanie</option>
											<option value="Koweït">Koweït</option>
											<option value="Liban">Liban</option>
											<option value="Oman (sultanat d’)">Oman (sultanat d’)</option>
											<option value="Palestine">Palestine</option>
											<option value="Qatar">Qatar</option>
											<option value="Syrie">Syrie</option>
											<option value="Turquie">Turquie</option>
											<option value="Yémen">Yémen</option>
										</optgroup>
										<optgroup label="Asie">
											<option value="Afghanistan">Afghanistan</option>
											<option value="Azerbaïdjan">Azerbaïdjan</option>
											<option value="Arménie">Arménie</option>
											<option value="Bhoutan">Bhoutan</option>
											<option value="Birmanie (Myanmar)">Birmanie (Myanmar)</option>
											<option value="Brunei">Brunei</option>
											<option value="Chine">Chine</option>
											<option value="Corée du Nord">Corée du Nord</option>
											<option value="Corée du Sud">Corée du Sud</option>
											<option value="Géorgie">Géorgie</option>
											<option value="Inde">Inde</option>
											<option value="Indonésie">Indonésie</option>
											<option value="Japon">Japon</option>
											<option value="Kazakhstan">Kazakhstan</option>
											<option value="Kirghizistan">Kirghizistan</option>
											<option value="Laos">Laos</option>
											<option value="Malaisie">Malaisie</option>
											<option value="Maldives (les)">Maldives (les)</option>
											<option value="Népal">Népal</option>
											<option value="Ouzbékistan">Ouzbékistan</option>
											<option value="Pakistan">Pakistan</option>
											<option value="Πhilippines (les)">Πhilippines (les)</option>
											<option value="Russie">Russie</option>
											<option value="Singapour">Singapour</option>
											<option value="Sri Lanka">Sri Lanka</option>
											<option value="Tadjikistan">Tadjikistan</option>
											<option value="Thaïlande">Thaïlande</option>
											<option value="Timor‐Oriental (Leste)">Timor‐Oriental (Leste)</option>
											<option value="Turkménistan">Turkménistan</option>
											<option value="Viêt Nam">Viêt Nam</option>
										</optgroup>
										<optgroup label="Afrique">
											<option value="Afrique du Sud">Afrique du Sud</option>
											<option value="Algérie">Algérie</option>
											<option value="Angola">Angola</option>
											<option value="Bénin">Bénin</option>
											<option value="Botswana">Botswana</option>
											<option value="Burkina Faso">Burkina Faso</option>
											<option value="Burundi">Burundi</option>
											<option value="Cambodge">Cambodge</option>
											<option value="Cameroun">Cameroun</option>
											<option value="Cap‐Vert (iles)">Cap‐Vert (iles)</option>
											<option value="Centrafrique">Centrafrique</option>
											<option value="Comores (les)">Comores (les)</option>
											<option value="Congo (Brazzaville)">Congo (Brazzaville)</option>
											<option value="Congo (Kinshasa)">Congo (Kinshasa)</option>
											<option value="Côte d’Ivoire">Côte d’Ivoire</option>
											<option value="Djibouti">Djibouti</option>
											<option value="Éthiopie">Éthiopie</option>
											<option value="Érythrée">Érythrée</option>
											<option value="Eswatini (Swaziland)">Eswatini (Swaziland)</option>
											<option value="Gabon">Gabon</option>
											<option value="Gambie">Gambie</option>
											<option value="Ghana">Ghana</option>
											<option value="Guinée">Guinée</option>
											<option value="Guinée‐Bissau">Guinée‐Bissau</option>
											<option value="Guinée équatoriale">Guinée équatoriale</option>
											<option value="Kenya">Kenya</option>
											<option value="Libéria">Libéria</option>
											<option value="Lybie">Lybie</option>
											<option value="Madagascar">Madagascar</option>
											<option value="Malawi">Malawi</option>
											<option value="Mali">Mali</option>
											<option value="Maroc">Maroc</option>
											<option value="Maurice (iles)">Maurice (iles)</option>
											<option value="Mauritanie">Mauritanie</option>
											<option value="Mozambique">Mozambique</option>
											<option value="Namibie">Namibie</option>
											<option value="Niger">Niger</option>
											<option value="Nigéria">Nigéria</option>
											<option value="Ouganda">Ouganda</option>
											<option value="Rwanda">Rwanda</option>
											<option value="Sao Tomé‐et‐Principe">Sao Tomé‐et‐Principe</option>
											<option value="Sénégal">Sénégal</option>
											<option value="Seychelles (les)">Seychelles (les)</option>
											<option value="Sierra Leone">Sierra Leone</option>
											<option value="Somalie">Somalie</option>
											<option value="Soudan">Soudan</option>
											<option value="Soudan du Sud">Soudan du Sud</option>
											<option value="Tanzanie">Tanzanie</option>
											<option value="Tchad">Tchad</option>
											<option value="Tanzanie">Tanzanie</option>
											<option value="Togo">Togo</option>
											<option value="Tunisie">Tunisie</option>
											<option value="Zambie">Zambie</option>
											<option value="Zimbabwe">Zimbabwe</option>
										</optgroup>
										<optgroup label="Océanie">
											<option value="Australie">Australie</option>
											<option value="Cook (iles)">Cook (iles)</option>
											<option value="Fidji (iles)">Fidji (iles)</option>
											<option value="Kiribati">Kiribati</option>
											<option value="Marshall (iles)">Marshall (iles)</option>
											<option value="Micronésie">Micronésie</option>
											<option value="Nauru">Nauru</option>
											<option value="Nioué (Niue)">Nioué (Niue)</option>
											<option value="Nouvelle‐Zélande">Nouvelle‐Zélande</option>
											<option value="Palaos (les)">Palaos (les)</option>
											<option value="Papouasie‐Nouvelle‐Guinée">Papouasie‐Nouvelle‐Guinée</option>
											<option value="Salomon (iles)">Salomon (iles)</option>
											<option value="Saoma">Saoma</option>
											<option value="Tonga (iles)">Tonga (iles)</option>
											<option value="Tuvalu (les)">Tuvalu (les)</option>
											<option value="Vanuatu">Vanuatu</option>
										</optgroup>
										<option value="Autre">Autre</option>
									</select>
								</div>
							</div>
						</div>
					</fieldset>

					<div class="content">
						<p class="text has-text-centered">
							Cette fiche sera mise en attente de validation.
							<br />
							Vour pourrez la compléter postérieurement.
						</p>
					</div>

					<div class="field is-grouped is-grouped-centered">
						<div class="control">
							<button class="button is-link">Valider</button>
						</div>
					</div>
				</form>

				<hr class="hr" />

				<div class="section has-text-centered">
					<a class="button is-primary" href="/connexion">
						Me connecter
					</a>
				</div>
			</section>
		</main>
<%- include("pied", {
	"langue": langue,
}) %>