		<footer class="footer">
			<p class="has-text-left">
				Les anciens d’abord · IUT de Lannion
			</p>
			<p class="has-text-right">
				Propulsé par Express et Bulma
			</p>
		</footer>
	</body>
</html>