<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>
			<%= titre %>
		</title>
		<link rel="stylesheet" href="/ressources/styles/bulma.css" />
		<link rel="stylesheet" href="/ressources/styles/bulma.ribbon.css" />
		<link rel="stylesheet" href="/ressources/styles/bulma.checkradio.css" />
		<link rel="stylesheet" href="/ressources/styles/bulma.calendar.css" />
		<link rel="stylesheet" href="/ressources/styles/style.css" />
		<link rel="stylesheet" href="/ressources/fontq/css/all.css" />
		<script src="/ressources/scripts/bulma.js"></script>
		<script src="/ressources/scripts/bulma.calendar.js"></script>
	</head>
	<body<% if (locals.erreur) { %> class="erreur"<% } %>>
